* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/wladislaw-sokolowskij-0vw4InAC-yM-unsplash.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content:center;
    align-items: center;
}

p{
    text-align:center;
}


.count {
    display:flex;
}

}
p {
    margin-right: 15vw;
    margin-left: 15vw;
    display: flex;
    text-align:center;
}
